@model TravelsJournal.Models.DestinationDto


@{
    ViewBag.Title = "View";
}

<a href="/Destination/List">Go back to list</a>
<h2>@Model.DestinationName</h2>
<h3>Summary: @Model.DestinationSummary</h3>
<h3>Rating: @Model.RatingID</h3>

